<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Sales information extension attribute-->
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <!--<plugin name="save_sales_information_attribute" type="Timoffmax\ExtensionAttribute\Plugin\ProductSave"/>-->
        <plugin name="get_sales_information_attribute" type="Timoffmax\ExtensionAttribute\Plugin\ProductGet"/>
    </type>
</config>
